@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base light mode colors */
:root {
  --background-color: #f3f4f6; /* gray-100 */
  --text-color: #1f2937; /* gray-900 */
}

/* Dark mode colors */
html.dark {
  --background-color: #1a202c; /* dark gray */
  --text-color: #e2e8f0; /* light gray */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}